*{
    font-family: Arial, sans-serif;
    background: #f3f6f4;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.container1 {
    display: flex;
    gap: 20px;
}

        /* Cart */
.cart {
    flex: 2;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.product {
     display: flex;
    align-items: center;
    gap: 10px;
}

.product img {
    width: 150px;
    border-radius: 8px;
}

.product div {
    display: flex;
    flex-direction: column;
}

.product b {
    font-size: 20px;
    margin-bottom: 2px;   /* tên sản phẩm */
}

.product small {
    font-size: 16px;   /* mô tả */
    color: #555;
}

.price {
    font-size: 18px;
    width: 80px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity button {
    padding: 5px 10px;
    border: none;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.remove {
    color: red;
    cursor: pointer;
}

        /* Sidebar */
.sidebar {
    flex: 1;
}

.box {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 8px 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.total-line {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.checkout {
    width: 100%;
    padding: 12px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}